<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @my_book_stro.Title %>
</p>

<p>
  <b>Tag:</b>
  <%= @my_book_stro.Tag %>
</p>

<p>
  <b>Content:</b>
  <%= @my_book_stro.Content %>
</p>

<p>
  <b>Image:</b>
  <%= @my_book_stro.Image %>
</p>

<p>
  <b>Reference:</b>
  <%= @my_book_stro.Reference %>
</p>

<p>
  <b>File:</b>
  <%= @my_book_stro.File %>
</p>


<%= link_to 'Edit', edit_my_book_stro_path(@my_book_stro) %> |
<%= link_to 'Back', my_book_stroes_path %>
